<footer class="footer">
    <div class="row">
        <div class="col-4 icon-container__wrapper d-flex align-items-center">
            <div class="icon-container">
                <ul class="icon-list d-flex">
                    <li class="icon-elem">
                        <div class="icon-elem__wrapper icon-instagram__wrapper">
                            <div class="img-icon icon-instagram"></div>
                        </div>
                    </li>
                    <li class="icon-elem">
                        <div class="icon-elem__wrapper icon-facebook__wrapper ms-2">
                            <div class="img-icon icon-facebook"></div>
                        </div>
                    </li>
                    <li class="icon-elem">
                        <div class="icon-elem__wrapper icon-twitter__wrapper ms-2">
                            <div class="img-icon icon-twitter"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
