<header class="header sticky-top">
    <nav class="navbar navbar-expand-lg bg-light navbar-light navbar-wrapper">
        <a class="navbar-brand" asp-page="Index">
            <div class="navbar-brand__wrapper container d-flex">
                <div class="main-icon"></div>
                <h3 class="brand-text ms-1 mt-2">Boss of the GYM</h3>
            </div>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-page="OnCompletionPage">Shop</a>
            </li>
            <li class="nav-item menu-dropdown">
                <a class="nav-link">Our services &#9660;</a>
                <div class="menu-dropdown__content">
                    <a class="text-muted ms-2 pe-2 pt-2" asp-page="Services" asp-route-category="Main">Main</a>
                    <hr/>
                    <a class="text-muted ms-2 pe-2 pt-2" asp-page="Services" asp-route-category="Martial_Arts">Martial Arts</a>
                    <hr />
                    <a class="text-muted ms-2 pe-2 pb-2" asp-page="Services" asp-route-category="Online_Training">Online-Training</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
