/*Create underline*/
.unline {
    width: 0%;
    height: 2.5px;
    transition: 1s;
}

/*Create cards for coachers*/
.coachers__wrapper {
    overflow:hidden;
    position: relative;
}

.background {
    height: 110%;
    width: 110%;
    position: absolute;
    background: url("../images/backgrounds/background_asphalt.jpg") 50% 50% / cover no-repeat;
    z-index: -1;
}

.coacher-card__wrapper {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.coacher-card__top, .coacher-card__back {
    width: 100%;
    height: 100%;
    border-radius: 25%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    background-color: rgb(255, 255, 255);
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
}

.coacher-img {
    height: 100%;
    width: 100%;
}

.coacher-card__top {
    transform: rotateX(0deg) rotateY(0deg);
}

.coacher-card__back {
    transform: rotateX(90deg) rotateY(90deg);
}

/*Create styles for sign up form*/
.signUp-form__wrapper {
    height: 300px;
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(255, 215, 0);
}
